@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.result{
        padding: 50px 0;
        font-family: 'Poppins', sans-serif;
    h1{
        text-align: center;
    }

   .wrapper {
       padding: 20px 0;
       display: grid;
       grid-template-columns: 40% 60%;
       grid-template-rows: auto auto;
       grid-gap: 10px 10px;
       align-items: flex-end;
   
       .marks {
           display: grid;
           grid-template-columns: auto auto;
           grid-gap: 10px 10px;
           grid-template-rows: 40px 40px 40px 40px;
           height: 240px;


           input{
               height: 45px;
               padding: 10px;
           }
   
           input[type="number"]::-webkit-inner-spin-button,
           input[type="number"]::-webkit-outer-spin-button {
               appearance: none;
               -moz-appearance: none;
           }
   
           #check {
               grid-column-start: 1;
               grid-column-end: 3;
           }

           button#check {
            padding: 10px 10px;
            font-size: 20px;
            cursor: pointer;
          }
       }
   
       .output {

            padding-left: 20px ;

        .suveccha{
            
            padding: 20px 0;

               h1{
                   
               }

        }

           .information{
               display: grid;
               grid-template-columns: 10% 90%;
               padding: 30px 0px;

               .left{

                     h5{
                         padding: 5px 0;
                     }
               }
           }
   

           table , td, th {
               border: 2px solid #595959;
               border-collapse: collapse;
               text-align: center;
           }
           td, th {
               padding: 3px;
               width: 30px;
               height: 25px;
           }
           th {
               background: #f0e6cc;
           }
           .even {
               background: #fbf8f0;
           }
           .odd {
               background: #fefcf9;
           }
           
   
       }
   
   }
}


@media screen and (max-width:1046px) {
    .result .wrapper {
        grid-template-columns: auto;
        grid-template-rows: auto;
 
    }
}